In [2]:
people = sqlContext.read.json("examples/src/main/resources/people.json")
people.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [3]:
people.registerTempTable('people')

In [4]:
sqlContext.sql("select name from people").show()

+-------+
|   name|
+-------+
|Michael|
|   Andy|
| Justin|
+-------+

In [7]:
jsonRDD = (sc.wholeTextFiles('all-world-cup-players.json').map(lambda x: x[1]))

In [9]:
# Spark expects a specific format for JSONs in which they want each line to have
# an individual JSON object. So normal JSON files will error out when trying to
# load them. This transformation helps put JSON files into a format Spark can read.
import re
js = jsonRDD.map(lambda x: re.sub(r"\s+", "", x, flags=re.UNICODE))

In [11]:
wc_players = sqlContext.jsonRDD(js)

In [12]:
wc_players.registerTempTable('players')

In [13]:
sqlContext.sql("select distinct Team from players").show()

+------------------+
|              Team|
+------------------+
|               BEL|
|          Bulgaria|
|     KoreaRepublic|
|            Mexico|
|           Denmark|
|             Egypt|
|            Serbia|
|          Portugal|
|            Poland|
|       WestGermany|
|            Norway|
|       SovietUnion|
|UnitedArabEmirates|
|          Slovakia|
|          Colombia|
|               SUI|
|               TCH|
|               FRA|
|               ARG|
|        SouthKorea|
+------------------+
only showing top 20 rows